<!DOCTYPE html>
<html>
<head>
  <title>chf-go</title>
  <link rel="stylesheet" href="public/application.css" type="text/css" />
</head>
<body>
  <div id="main">
    Hello World
  </div>
</body>
</html>